@model string 

<div class="text-center">
    <h1>This " Widgets @Model " plugin are used for showing the list of BS Employee </h1>
    <br />
   <h2 style="text-align: center">To know more <a asp-controller="BSEmployee" asp-action="List" class="btn-btn-primary"> Click here </a> </h2>

</div>
