@model string 

<div class="text-center">
    <h1>This " Widgets @Model " plugin are used for learning purpose</h1>
    <br />
   <h2 style="text-align: center">To know more <a asp-controller="WidgetsHelloWorld" asp-action="Index" class="btn-btn-primary"> Click here </a> </h2>

</div>
